body {
    background-color: #e5e5e2
}

h1, h2 {
    color: #621817
}

.centered {
    text-align: center;
}

#course-logo {
    margin: auto;
    display: block;
}

h2 > span {
    color: #fa8f42;
    font-size: 0.85em;
}

#next {
    padding-top: 20px;
}

div #next {
    font-size: 0.65em;
}
